
/* All elements' margin and padding included in width and height  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body background color */
body {
    background-color: #d9dcd6;
}

/* style for heading and nav bar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* style for Horiseon name */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* style for "seo" in Horiseon */
.header h1 span.seo {
    color: #d9dcd6;
}

/* style for nav bar */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* no bullets/styling for nav bar */
.header div ul {
    list-style-type: none;
}

/* nav bar elements style */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* nav bar links style */
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraph style */
p {
    font-size: 16px;
}

/* main background image for page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* for "search engine optimization" and "social media marketing", float image on the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* for "online reputation management", float image right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets block display for content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* right side-bar styling */
div.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styling for "lead generation" section in sidebar*/
div.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styling for "brand awareness" section in sidebar*/
div.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styling for "cost management" section in sidebar*/
div.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styling for "lead generation" title in sidebar*/
div.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styling for "brand awareness" title in sidebar*/
div.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styling for "cost management" title in sidebar*/
div.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styling for "lead generation" logo in sidebar*/
div.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styling for "brand awareness" logo in sidebar*/
div.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styling for "cost management" logo in sidebar*/
div.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styling for "search engine optimization" section in contents*/
div.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* styling for "online repuation management" section in contents*/
div.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* styling for "social media marketing" section in contents*/
div.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* styling for "search engine optimization" image in contents*/
.search-engine-optimization img{
    max-height: 200px;
}

/* styling for "online repuation management" image in contents*/
.online-reputation-management img {
    max-height: 200px;
}

/* styling for "social media marketing" image in contents*/
.social-media-marketing img {
    max-height: 200px;
}

/* styling for "search engine optimization" title in contents*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styling for "online repuation management" title in contents*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styling for "social media marketing" title in contents*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer section style */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer title style */
.footer h2 {
    font-size: 20px;
}
